* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #333;
  color: #fff;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
  /* border: 1px solid rgba(255, 255, 255,0); */
  padding: 12px 0 18px 0;
}

a:hover {
  /* background: #444; */
  color: coral;
  /* padding: 32px 0; */
  /* padding-bottom: 14px; */
  /* border: 1px solid coral; */
}

li {
  list-style: none;
  /* border: 1px solid white; */
}

header > h1 {
  border-bottom: 1px solid #fff;
}

nav ul {
  /* display: inline-block; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 0;
}

nav li {
  /* display: inline; */
  padding: 20px 24px;
  text-align: center;
}

.header-script {
  display: block;
  text-align: center;
  background: #444;
  padding: 2rem;
  font-size: 3rem;;
}

.color-changer {
  display: block;
  text-align: center;
  padding: 0 2rem 2rem 2rem;
  background: #444;
  font-size: 2rem;
}

.color-changer input {
  padding: 20px;
  border-radius: 10px;
  border: 5px solid coral;
  font-size: 1.2rem;
  font-weight: 600;
}

.header-script:hover {
  color: coral;
}

h1,
h2 {
  /* display: block; */
  text-align: center;
}

h1 {
  color: hsl(69, 100%, 84%);
  font-size: 4rem;
  background: #444;
  padding: 20px;
}

h2 {
  color: #448bd1;
  font-size: 3rem;
  padding: 2rem;
}

p {
  font-size: 1.6rem;
  padding: 2rem 2rem;
  text-align: justify;
}

#swords img,
#shields img,
#siege img {
  width: 500px;
  display: block;
  margin: auto;
}

#shields {
  float: left;
  width: 42%;
  margin-left: 2rem;
}

#siege {
  float: right;
  width: 42%;
  margin-right: 2rem;
}

.siege-2 {
  height: 500px;
}

.clear {
  clear: both;
}

footer > p {
  display: inline-block;
  font-size: 1.2rem;
}

footer > p:nth-child(1) {
  float: left;
  margin-top: 3rem;
}
footer > p:nth-child(3) {
  float: right;
}

footer > a {
  display: block;
  text-align: end;
  margin: 0 5rem;
  font-size: 1.2rem;
  padding: 10px 20px;
  background: #444;
  border: 1px solid white;
  border-radius: 5px;
}
footer > a:hover {
  background-color: #000;
}

.footer-script {
  font-size: 3rem;
  text-align: center;
  padding: 20px;
  color: coral;
  background: blue;
  border: 5px solid coral;
  /* display: flex; */


}





